body{
    background: url("../../images/wood3.jpg") ;
    
}
.bigtitle{
    width: 1500px;
    text-align: left;
    padding: 0px;
    margin: 0px;

}
.title a{
    text-decoration: none;
    color: inherit;
    padding: 0px;
    font-size: 30px;
    margin: 30px;
    writing-mode: vertical-lr;
    
}
article{
    width: 1500px;
}
.containbody2 article{
    font-size: 80px;
    width: 1500px;
}
.containbody2 ul{
    padding: 50px;
    margin: 50px;
}
 a.subtitle:hover{
    font-size: 35px;
    overflow: hidden;
    
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out; 
}

h1{
    font-weight: bold;
    font-family: 'Castellar',新細明體 ;
    font-size: 100px;
    display: block;
    margin: 50px;
    padding: 50px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 150px;
    text-align: center;
    float: left;
    z-index: -999;
    color:rgb(219, 195, 195);
    text-align: justify;
    -webkit-animation: tada 1s .2s ease both;
    -moz-animation: tada 1s .2s ease both;
    text-shadow: rgb(39, 39, 39) 10px 10px 1px;
    width: 1601px;
    background-color: rgb(95, 129, 160);
    box-shadow: 10px 5px 10px black;
    background-image: url("../../images/stone.jpg");

}
h1:hover{
    color: teal;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    -webkit-transform: skewX(-25deg);
            transform: skewX(-25deg);
}
.title{
    width:50px;
    background-image: url(" ../../images/stone.jpg");
    border-radius: 50px;
    padding: 10px;
    box-shadow: rgb(110, 98, 98) 10px 10px 10px;
    margin: 0px auto;
    position: fixed;
    right: 30px;
    top: 150px;
    color: rgb(171, 248, 255);
    text-shadow: rgb(110, 98, 98) 3px 3px 1px;

    z-index: 500;
    text-align: center;
    height: 500px;
    padding-right: 20px;
}
.sutitle{
    background-image: none;
    padding: 0px auto;
    font-size: 50px;
    writing-mode: vertical-lr;
    width: 50px;
    height: 240px;
    margin: 0px;
    padding-right: 20px;
    font-weight: bolder;
    padding-bottom: 0px;
    padding-top: 0px;
}
.containbody{
    width: 1500px;
    margin: 20px auto;
    padding: 0px auto ; 
    border-radius: 20px;
}
h2{
    font-weight: bold;
    font-family: 微軟正黑體;
    font-size: 60px;
    margin: 20px auto ;
    padding: 20px ;
    clear: both;
    text-align: center;
    width: 500px;
    color: rgb(39, 37, 26);/* rgb(75, 75, 75);*/
    background-color: rgb(255, 235, 198);
    background-image: url(" ../../images/stone.jpg");
    box-shadow: 10px 10px 10px rgb(46, 46, 46) ;
    text-shadow: rgb(192, 192, 192) 5px 5px 2px;
    border-radius: 20px;
    margin-bottom: 60px;

}
h2:hover{
    transform: rotate(5deg);
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;

}
p{
    font-size: 20px;
    width: 400px;
    border-radius: 30px;
}
p.a{
    font-size: 20px;
}
p li{
    font-size: 40px;
}
.acframe{
    width: 400px;
    height: 500px;
    margin:10px;
    padding: 40px;
    background-color: cadetblue;
    float: left;
    font-family: 微軟正黑體;
    color: white;
    border-radius: 10px;
}
.acframe:hover{
    background-color: rgb(254, 255, 170);
    color: brown;
    font-size: 24px;
    border-radius: 30px;
    -webkit-transition: color 0.6s ease-out;
    transition: color 0.6s ease-out;
 
}
.acframe a{
    color:rgb(187, 168, 0);
    font-weight: bolder;
}
h3{
    font-size: 30px;
    padding: 0px;
    margin: 0px;
    width: 400px;
    height: 115px;
}
.containbody2{
    clear: left;
    width: 1500px;
    padding: 0px auto;
    margin: 0px auto;
    padding-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 50px;

}
ol{
    font-size: 20px;
}
.bgcon1{
    /*background-color: cornsilk;*/
    height: 1600px;
    margin: 100px;
    padding: 50px;
    margin-bottom: 0px;
}
hr{
    width: 1500px;
    padding: 0px;
    margin: 100px auto;
    border-width: 20px;
    border-style: solid;
    border-color: tan;
    border-image: url(" ../../images/wood.jpg");
}

.ey{
    border-radius: 50px;
    width:1500px;
    height: 2500px;
    position: relative;
    margin: 150px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px ;
    animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}
.ec{
    width:1500px;
    height: 2500px ;

    border: 20px 20px rgb(163, 200, 212);
    border-left: 0px;
    border-right: 0px;
    
}
.ec ul{
    padding: 30px;
    padding-top: 0px;
    width: 600px;
    font-size: 40px;
    list-style: none;

}
.ec li{
    padding: 10px;
}

.ecpic{
    width:600px;
    height: 500px ;
    background-color: white;
    float: right;
}
.freacttext{
    width: 550px;
    padding: 50px;
    float: left;
    color: rgb(15, 15, 15);
    text-shadow: rgb(209, 209, 209) 3px 3px 1px;
    font-weight: bolder;
    padding-left: 50px;
    margin: 20px;
    animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}
.freactimg img{
    padding: 0px;
    width: 500px;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px;

}
.freactimg{
    float: right;
    width: 600px;
    height: auto;
    border-radius: 20px;
}
h4{
    font-size: 50px;
    margin: 50px;
}
.freqacti{
    width: 1500px;
    height: 3000px;
    margin-top: 0px;
}
.movie{
    width: 1400px;
    height: 900px;

    border-bottom: 10px;
    border: solid black;
    border-left: 0px;
    border-right: 0px;
    padding: 0px;    
    border-top: 0px;
    animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}
.sTitle{
    font-size: 30px;
    padding: 5px;
    list-style: square;
}
.pTitle{
    font-size: 30px;
    padding: 20px;
    list-style: none;
    padding-left: 0px;
    animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}
div .freacttext>ul{
    margin-left: 0px;
    padding-left: 0px;
}

.freactimg>img:hover{
    width: 90%;
    height: 90%;
    
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}
@-webkit-keyframes round {
    4% {
    opacity: 1;
    filter: alpha(opacity=100);
    left: 0;
    /* 0 - 1秒 滑入*/
    }
    20% {
    opacity: 1;
    filter: alpha(opacity=100);
    left: 0;
    /* 1- 5秒靜止*/
    }
    24% {
    opacity: 1;
    filter: alpha(opacity=100);
    left: -100%;
    /* 5-6秒滑出*/
    }
    26% {
    opacity: 0;
    filter: alpha(opacity=0);
    left: -100%;
    /* 6-6.5秒變透明*/
    }
    28% {
    opacity: 0;
    filter: alpha(opacity=0);
    left: 100%;
    /* 6.5-7秒回到起始位置*/
    }
    }
.slider_container:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 1;
    filter: alpha(opacity=100);
    width: 100%;
    height: 100%;
    background-image: url(bk-image.jpg);
    animation: bk 25s linear;
    }
    @keyframes bk {
    0% {
    left: 0;
    /* 初始位置*/
    }
    4% {
    left: -100%;
    /* 0 - 1秒 滑出*/
    }
    }
    @keyframes bk {
    0% {
    left: 0;
    /* 初始位置*/
    }
    4% {
    left: -100%;
    /* 0 - 1秒 滑出*/
    }
}
a{
    text-decoration: none;
}
@font-face {
    font-family:'Castellar' ;
    src: url("/assets/fontstyle/CASTELAR.TTF");
}

