
body{
    position: relative;
    padding: 0px;
    margin: 0px;
    background-image: url(" ../../images/light.jpg");
}
header{
    padding: 3px;
    margin: 0px;
    display: block ;
    list-style: none;
    color: #050505;
    /*background-color: #e1efff;#a3958d*/
    font-family: 'FangSong', 微軟正黑體;
    font-size: 20px;
    font-weight: bolder;
    background-color: #312f2b;
    background-image: url(" ../../images/headerfooter1.jpg");
    position: relative;
    box-shadow:0px 10px 10px rgb(0, 0, 0);
    height: 190px;
    z-index: 200;

}

ul.menu{
    display: flex;
    justify-content: space-evenly;
    padding: 2px;
    list-style: none;
    font-size: 24px;
    text-align: center;
}
ul.menu{
    display: flex;
    justify-content: space-evenly;
    padding: 2px;
    list-style: none;
    font-size: 28px;
    text-align: center;

}
ul.menu li {
    position: relative;
    white-space: nowrap;
}

ul.menu ul { /*隱藏次選單*/
    display: none;
}
ul.menu li:hover > ul { /* 滑鼠滑入展開次選單*/
    display: block;
  
    animation: fadein ease 1s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}
ul.menu a {
    color: #333;
    display: block;
    padding: 2px;
    text-decoration: none;

}
ul.menu li:hover > div.frame :hover { /* 滑鼠移入次選單上層按鈕保持變色*/
    background-image: url(" ../../images/greywood.jpg");
    color: #fff;
}

div.frame{
    background-color: rgb(0, 0, 0);
    border-radius: 100px;
    padding: 20px;
    margin-top: 35px;
    overflow: hidden;
    height: 30px;
    width: 120px;
    background-image: url( ../../images/stone.jpg);
    box-shadow: black 10px 10px 10px;
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
    z-index: 200;

}
div a.frame:hover{
    /*緩慢放大*/
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}
div.frame:hover{
    background-image: url(" ../../images/wood3.jpg");
}
div.frame1{
    padding: 0px auto;
    margin: 0px auto;
    width: 300px;
    filter:brightness(1.5);
    z-index: 200;

}
a.a1{
    color: inherit;
    text-decoration: none;
}
div a.a1:hover{
    color: rgb(53, 50, 42);
    font-weight: bolder;
    display: inline-block;
    font-size: 30px;
    text-align: center;
    z-index: 200;

}
footer{
    border-top: rgb(79, 133, 138);
    text-align: center;
    font-family: 'FangSong', 微軟正黑體;
    color: white;
    background-color:#312f2b ;
    padding: 0px;
    margin: 0px;
    background-image: url(" ../../images/headerfooter1.jpg");
    box-shadow:0px -5px 10px rgb(0, 0, 0);
    float: inline-end;
    position: relative;
}
.max{
    width: 100%;
    height: 100%;
    position: absolute;
}
.contain{
    text-align: center;
    padding: 50px;
    background-color: rgb(0, 0, 0);
    background-image: url(" ../../images/light.jpg");
}
ul{
    list-style: none;
}
li{
    list-style: none;
}
.ytframe{
    width: 1200px;
    height: 650px;
    border:rgb(18, 34, 23) 10px;
    background-color:none/* rgb(0, 41, 37)*/;
    text-align: center;
    margin: 20px auto;
    border-radius: 5px;
    text-align: center;
    background-image:url( ../../images/television.png);
    background-size: 100% 100%;
    position: relative;
    z-index: 1;
}
.yt{
    position: absolute;
    top: 40px;
    left: 130px;
    z-index: 0;
}

.but{
    font-family:'Genkaimincho', Tahoma, Geneva, Verdana, sans-serif, 微軟正黑體 ;
    font-weight: bolder;
    margin: 50px;
    font-size: 80px;
    border: darkslategray 3px;
    padding: 10px;
    color: rgb(214, 0, 0);
    text-align: center;
    text-decoration: none;
}
div a.but:hover{
    /*緩慢放大*/
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}
.but:hover{
    color: brown;
    border-radius: 50px;
    padding: 20px;

}
article{
    font-family:'Genkaimincho', sans-serif ;
    font-weight: bolder;
    font-size: 65px;
    padding: 50px;
    /*text-shadow: 10px 10px 1px #c0c0c0;*/
    color: rgb(187, 0, 25);
    animation: fadein ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    text-align: center;
}
h1{
    font-family:'Genkaimincho', Tahoma, Geneva, Verdana, sans-serif, 微軟正黑體 ;
    font-weight: bolder;
    font-size: 150px;
    padding: 20px;
    padding-bottom: 0px;
    color: rgb(187, 174, 99);
    animation: fadein ease 20s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    margin: 0px;
}
@keyframes fadein { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
}
hr{
    border: rgb(71, 67, 53) 10px double ;
    padding: 0px;
    width: 1300px;
}
.map1{
    width: 70%;
    height: 60%;
    margin: 0px auto;
    padding: 350px;
    padding-top: 0px;
    padding-bottom: 50px;
}
.story{
    width: 200px;
    height: 200px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-image: url(" ../../images/按鈕1.png");
    text-decoration: none;
    z-index: 999;
    margin: 0px;
    padding: 0px;
}
a.story{
    color: inherit;
    text-decoration: none;
}
div.story:hover {
    background-image: url("../../images/按鈕2.png");
}

div.top{  
    background-color: rgb(131, 124, 104);
    margin: 0px;
    border-radius: 0px;
    border-width: 5px;
    padding: 0px auto;
    width: 100%;
    font-size: 30px;
    margin-bottom: 3px;

    background-image: url(" ../../images/greywood.jpg");
    color: rgb(77, 35, 6);
}
a.top {
    text-decoration: none;
    color: inherit;
    
}
p{
  font-size: 60px;
  text-align: center;
  color: white;  
  padding: 0px;
  margin: 10pt;
}
@font-face {
    font-family:'Genkaimincho';
    src: url("/assets/fontstyle/genkai-mincho.ttf");
}
@font-face {
    font-family: 'FangSong', 微軟正黑體;

    src: url("../fontstyle/simfang.ttf");
}