body{
    position: relative;
    padding: 0px;
    margin: 0px;
}
header{
    padding: 3px;
    margin: 0px;
    display: block ;
    list-style: none;
    color: #2f281e;
    /*background-color: #e1efff;#a3958d*/
    font-family: 'FangSong', 微軟正黑體;
    font-size: 30px;
    font-weight: bolder;
    background-color: #312f2b;
    background-image: url(" ../../images/headerfooter1.jpg");
    position: relative;
    box-shadow:0px 10px 10px rgb(0, 0, 0);
    height: 190px;
    z-index: 200;

}
footer{
    border-top: rgb(79, 133, 138);
    text-align: center;
    font-family: 'FangSong', 微軟正黑體;
    color: white;
    background-color:#312f2b ;
    padding: 0px;
    margin: 0px;
    background-image: url(" ../../images/headerfooter1.jpg");
    box-shadow:0px -5px 10px rgb(0, 0, 0);
    float: inline-end;
    position: relative;
}

ul.menu{
    display: flex;
    justify-content: space-evenly;
    padding: 2px;
    list-style: none;
    font-size: 28px;
    text-align: center;

}
ul.menu li {
    position: relative;
    white-space: nowrap;
    list-style: none;
}

ul.menu ul { /*隱藏次選單*/
    display: none;
}
ul.menu li:hover > ul { /* 滑鼠滑入展開次選單*/
    display: block;
    
    animation: fadeInAnimation ease 1s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}
ul.menu a {
    color: #333;
    display: block;
    padding: 2px;
    text-decoration: none;

}
ul.menu li:hover > div.frame :hover { /* 滑鼠移入次選單上層按鈕保持變色*/
    background-image: url(" ../../images/greywood.jpg");
    color: #fff;
}
div.frame{
    background-color: rgb(255, 220, 104);
    border-radius: 100px;
    padding: 20px;
    margin-top: 35px;
    overflow: hidden;
    height: 30px;
    width: 120px;
    box-shadow:10px 5px 10px rgb(0, 0, 0);
     background-image: url( ../../images/wood3.jpg);
     font-family: 'FangSong', 微軟正黑體;
    
     /*緩慢放大*/
     -webkit-transition: all 0.15s ease-out;
     transition: all 0.15s ease-out;
}
div a.frame:hover{
    /*緩慢放大*/
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    -webkit-transform: skewX(-25deg);
            transform: skewX(-25deg);
}
div.frame:hover{
    background-image: url(" ../../images/greywood.jpg");
}
div.frame1{
    padding: 0px auto;
    margin: 0px auto;
    width: 300px;
    filter:brightness(1.5);
}
a.a1{
    color: inherit;
    text-decoration: none;
}
div a.a1:hover{
    color: rgb(53, 50, 42);
    font-weight: bolder;
    display: inline-block;
    font-size: 30px;
    text-align: center;
}

.max{ 
    width: 100%;
    height: 100%;
    position: absolute;
}/*限定最大大小*/
.story{
    width: 200px;
    height: 200px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-image: url(" ../../images/按鈕1.png");
    text-decoration: none;
    z-index: 999;
    margin: 0px;
    padding: 0px;
}
div.story:hover {
    background-image: url(" ../../images/按鈕2.png");
    /*晃動*/
    -webkit-animation: tada 1s .2s ease both;
    -moz-animation: tada 1s .2s ease both;

    -moz-transition:all 0.2s ease;
    -webkit-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    -moz-transition:all 0.2s ease;
    transition:all 0.2s ease;
}
@-webkit-keyframes tada{
    0%{-webkit-transform:scale(1);}

    10%, 20%{-webkit-transform:scale(0.9) rotate(-3deg);}

    30%, 50%, 70%, 90%{-webkit-transform:scale(1.1) rotate(3deg);}
 
    40%, 60%, 80%{-webkit-transform:scale(1.1) rotate(-3deg);}

    100%{-webkit-transform:scale(1) rotate(0);}
}

@-webkit-keyframes tada flipInY{
    0%{-webkit-transform:perspective(400px) rotateY(90deg); opacity : 0; }

    40%{-webkit-transform:perspective(400px) rotateY(-10deg);}

    70%{-webkit-transform:perspective(400px) rotateY(10deg);}

    100%{-webkit-transform:perspective(400px) rotateY(0deg); opacity:1;}
}

@-moz-keyframes flipInY{
    0%{-moz-transform:perspective(400px) rotateY(90deg); opacity:0;}

    40%{-moz-transform:perspective(400px) rotateY(-10deg);}

    70%{-moz-transform:perspective(400px) rotateY(10deg);}

    100%{-moz-transform:perspective(400px) rotateY(0deg);opacity:1;}
}

/*intro footer的回到上面*/
div.top{  
    background-color: rgb(131, 124, 104);
    margin: 0px;
    border-radius: 0px;
    border-width: 5px;
    padding: 0px auto;
    width: 100%;
    font-size: 30px;
    margin-bottom: 3px;

    background-image: url(" ../../images/greywood.jpg");
    color: rgb(77, 35, 6);
}
a.top {
    text-decoration: none;
    color: inherit;
    
}
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
}
@font-face {
    font-family: 'FangSong', 微軟正黑體;

    src: url("../fontstyle/simfang.ttf");
}