body {
  background-image: url(" ../../images/wood3.jpg");
}
.bigtitle{
  width: 1500px;
  text-align: left;
  padding: 0px;
  margin: 0px;
  
}
.maxv{
  width: 1500px;
  margin: 0px auto;
  padding-top: 100px;
  position: relative;
  height: auto;
}
h1{
  font-weight: bold;
  font-family: 'Castellar',新細明體 ;
  font-size: 100px;
  display: block;
  margin: 50px;
  padding: 50px;
  padding-top: 0px;
  margin-top: 0px;
  text-align: center;
  float: left;
  z-index: -999;
  color:rgb(226, 210, 181);
  text-align: justify;
  -webkit-animation: tada 1s .2s ease both;
  text-shadow: rgb(39, 39, 39) 10px 10px 1px;
  background-color: cadetblue;
  width: 1551px;
  box-shadow: 10px 5px 10px black;
  background-image: url(" ../../images/stone.jpg");

}
h1:hover{
  color: rgb(119, 133, 155);  
  -webkit-transition: color 0.6s ease-out;
  transition: color 0.6s ease-out;
}
.YTF {
  background-color: rgb(255, 203, 89);
  border-radius: 100px;
  padding: 20px;
  height: 680px;
  width: 1100px;
  box-shadow: 0px 0px 10px black;
  margin: 300px auto;
  margin-bottom: 100px;
  background-image: url(" ../../images/stone.jpg");
  margin-top: 100px;

}
.yt{
  width: 1100px;
  height: 550px;
  margin: 60px auto;
}
.ytframe {
  width: 850px;
  margin: 50px;
  margin-top: 0px;
  border-radius: 50px;
}
iframe{
  border: 4px black;
}
h2.h2title{
  padding: 0px auto;
  margin: 0px auto;
  color: lightseagreen;
  font-family: 'FangSong', 微軟正黑體;
  text-align: left; 
  margin-left: 50px;
  color: black; 
  font-size: 80px;
  margin-bottom: 100px;
  animation: fadein ease 3s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
}
h2{
  text-align: center;
  padding: 0px auto;
  margin: 0px auto;
  text-align: left;
  margin-left: 50px;
  color: black; 
  font-size: 80px;
  font-weight: 1000px;
  font-family: 'FangSong', 微軟正黑體;
  text-shadow: rgb(172, 172, 172) 3px 3px 1px;

  animation: fadein ease 3s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
  margin-top: 400px;

}
h2:hover{
  color: rgb(66, 97, 79);
  text-shadow: rgb(172, 172, 172) 3px 3px 1px;
  
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.designimg{
  width: 1500px;
  height: 400px;
  padding: 0px;
}
p{
  padding: 0px;
  font-size: 30px;
  text-indent: 60px;
  line-height: 130%;
  padding-left: 90px;
  padding-right: 90px;
 
  font-family: 'Taipei Sans TC Beta ', 微軟正黑體;
  animation: fadein ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 

}
.design1{
  padding: 90px;
  font-size: 30px;
  text-indent: 60px;
  line-height: 130%;
  margin-left: 0px;
  padding-left: 90px;
  animation: fadein ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}
figure>img{
  width: 350px;
  box-shadow: 0px 0px 10px black;
  margin: 50px;
  margin-left: 0px;
  padding: 0px auto;
  border-radius: 10px;
  
}

figure{
  width: 400px;
  height: 150px;
  margin: 0px auto;
  float: left;
}

figcaption{
  font-size: 30px;
  text-align: left;
}
.tecflower{
  width: 1500px;
  margin: 0px;
  padding: 0px;
  float: left;
  margin-bottom: 100px;

}

.tf{
  width: 1500px;
  height: 900px;
  margin-bottom: 100px;
}
.flfigu{
  height: 500px;
  margin-right: 190px;
  margin-left: 20px;
  margin-top: 50px;
}
figure img:hover{
  width: 380PX;
}